@mixin bg-image($url) {
  background-repeat: no-repeat;
  @media screen and (min-resolution: 2dppx) {
    background-image: url($url + '@2x.png')
  }
  @media screen and (min-resolution: 3dppx) {
    background-image: url($url + '@3x.png')
  }
}