@import './reset.scss';
@import './font.scss';
@import './border.scss';

.border-bottom-1px {
  @include border-bottom-1px(rgba(7, 17, 27, .1));
}
.border-none {
  @include border-none();
}

#app {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}